@import "tailwindcss";
@import "@nuxt/ui";

html,
body,
#__nuxt,
.layout {
  @apply min-h-screen;
}

p {
  @apply mb-4;
}

.layout {
  background: radial-gradient(
    ellipse 75% 100% at 50% -50%,
    var(--ui-color-primary-600) 10%,
    var(--ui-color-secondary-950) 85%
  );
}

.layout.layout--splash {
  background: radial-gradient(
    ellipse 75% 100% at 50% -50%,
    var(--ui-color-primary-300) 10%,
    var(--ui-color-primary-600) 85%
  );
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
