@import "tailwindcss";
@import "@nuxt/ui";

/** ================== ANIMATIONS =========================== */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/** ================== UTILITIES =========================== */
@utility animate-fade-in {
  animation: fadeIn var(--tw-duration, 0.6s) ease-in-out forwards;
}

@utility animate-slide-left {
  animation: slideInLeft var(--tw-duration, 1s) ease-out forwards;
}

@utility animate-slide-right {
  animation: slideInRight var(--tw-duration, 1s) ease-out forwards;
}

@utility animate-slide-top {
  animation: slideInTop var(--tw-duration, 1s) ease-out forwards;
}

@utility animate-slide-bottom {
  animation: slideInBottom var(--tw-duration, 1s) ease-out forwards;
}

/** ================== RESET/GLOBAL========================= */

html,
body,
#__nuxt,
.layout {
  @apply min-h-screen;
}

body {
  font-family: "DM Sans", sans-serif;
  @apply font-light;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-medium;
}

p {
  @apply mb-4;
}

/** ================== LAYOUT =========================== */
.layout {
  @apply relative overflow-hidden;
  background: radial-gradient(
    ellipse 75% 100% at 50% -50%,
    var(--ui-color-primary-600) 10%,
    var(--ui-color-secondary-700) 85%
  );
}

.layout::before {
  @apply absolute inset-0 opacity-0 pointer-events-none z-0 transition-opacity duration-[5000s] ease-in-out content-[''];
  background: radial-gradient(
    ellipse 75% 100% at 50% -50%,
    var(--ui-color-primary-200) 10%,
    var(--ui-color-primary-700) 85%
  );
}

.layout:has(.page--end)::before {
  animation: fadeIn 1s ease-in-out forwards; /** cannot use utility @apply - not exists yet */
}

.layout > main {
  @apply relative z-1;
}

/** ================== Router Transition =========================== */

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
