:root {
  --color-primary-50: #ffffff;
  --color-primary-100: #eefef4;
  --color-primary-150: #ddfee8;
  --color-primary-200: #cbfcdd;
  --color-primary-250: #b8fbd1;
  --color-primary-300: #a4fac6;
  --color-primary-350: #8ff8bb;
  --color-primary-400: #77f6b0;
  --color-primary-450: #5bf4a4;
  --color-primary-500: #30f299;
  --color-primary-550: #30d487;
  --color-primary-600: #2fb775;
  --color-primary-650: #2d9a64;
  --color-primary-700: #297f53;
  --color-primary-750: #256543;
  --color-primary-800: #1f4b33;
  --color-primary-850: #193324;
  --color-primary-900: #111d16;
  --color-primary-950: #000000;

  --color-secondary-50: #ffffff;
  --color-secondary-100: #e1e2e8;
  --color-secondary-150: #c4c6d1;
  --color-secondary-200: #a7abbb;
  --color-secondary-250: #8c91a5;
  --color-secondary-300: #707790;
  --color-secondary-350: #565e7b;
  --color-secondary-400: #3c4767;
  --color-secondary-450: #223153;
  --color-secondary-500: #031c40;
  --color-secondary-550: #061a39;
  --color-secondary-600: #081733;
  --color-secondary-650: #0a152c;
  --color-secondary-700: #0a1226;
  --color-secondary-750: #0a0f20;
  --color-secondary-800: #080c1a;
  --color-secondary-850: #050814;
  --color-secondary-900: #03040b;
  --color-secondary-950: #000000;
}
